:root {
  --device_width: 480px;
  --gutter: calc(var(--device_width) * 0.04);
  --font_size: calc(var(--device_width) / 20);
  --button_width: calc(var(--device_width) * 0.2);
  --button_width_lg: calc(var(--device_width) * 0.2 * 2 + var(--gutter));
}
@media (max-width: 768px) {
  :root {
    --device_width: 360px;
    --gutter: calc(var(--device_width) * 0.04);
    --font_size: calc(var(--device_width) / 20);
    --button_width: calc(var(--device_width) * 0.2);
    --button_width_lg: calc(var(--device_width) * 0.2 * 2 + var(--gutter));
  }
}
@media (max-width: 480px) {
  :root {
    --device_width: 100vw;
    --gutter: calc(var(--device_width) * 0.04);
    --font_size: calc(var(--device_width) / 20);
    --button_width: calc(var(--device_width) * 0.2);
    --button_width_lg: calc(var(--device_width) * 0.2 * 2 + var(--gutter));
  }
}
* {
  box-sizing: border-box;
}
body {
  background: #fff;
  font: 300 15px "Source Sans Pro", sans-serif;
  font-size: var(--font_size);
}
.wrapper {
  position: relative;
}
#app {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  padding: var(--gutter) 0;
  background: linear-gradient(to bottom, #f5e0e1 0%, #f5e0e1 100%);
  width: var(--device_width);
}
@media (max-width: 480px) {
  #app {
    bottom: 0;
    max-height: 50vh;
    overflow-y: auto;
  }
  #app::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }
  #app::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #f5e0e1 0%, #f5e0e1 100%);
  }
  #app::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #f5e0e1 0%, #f5e0e1 100%);
  }
  #app::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
#app .viewer {
  flex: 100%;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #fff;
  border: 2px solid #f89497;
  border-radius: 10px;
  line-height: 1;
  text-align: right;
  font-size: calc(var(--font_size) * 3);
  color: #ff6884;
}
#app .viewer .small {
  padding: 0 10px;
  min-height: 20px;
  background: #bfab96;
  border-radius: 10px;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
}
#app .viewer .small:empty {
  background: none;
}
#app .area {
  padding-left: var(--gutter);
  width: calc(75% + var(--gutter) / 4);
}
#app .panel {
  display: flex;
  gap: var(--gutter);
}
#app .panel.number {
  display: flex;
  flex-flow: wrap-reverse;
  margin-top: var(--gutter);
}
#app .panel.operator {
  flex-flow: column;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--button_width);
  height: var(--button_width);
  border-radius: var(--button_width);
}
.button.large {
  justify-content: start;
  width: var(--button_width_lg);
  text-indent: calc(var(--gutter) * 2);
}
.button:hover {
  position: relative;
  border: 0;
  cursor: pointer;
}
.button:active {
  transform: scale(0.98) translate(1px, 2px);
}
.button:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000011;
  border: 2px solid #00000011;
  border-radius: var(--button_width);
  pointer-events: none;
}
.functional .button {
  box-shadow: 2px 3px 1px #6bab79, 3px 4px 1px #0000001f;
  background: #78c9b2;
  color: #fff;
}
.functional .button:hover {
  box-shadow: none;
}
.number .button {
  /* box-shadow: 2px 3px 1px #99999979, 3px 4px 1px #0000001f;
	 */
  background: #fff;
  border: 2px solid #bfab96;
  color: #896642;
}
.operator .button {
  box-shadow: 2px 3px 1px #d47779, 3px 4px 1px #0000001f;
  background: #f89497;
  color: #fff;
}
.operator .button:hover {
  box-shadow: none;
}
.transition,
.button {
  transition: all 0.3s, box-shadow 0s, transform 0.1s;
}
.wordbreak {
  word-break: break-all;
  white-space: pre-wrap;
}
